* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid gray; */
}

:root {
  --dark-background-color1: #202124;
  --dark-background-color2: #171717;
  --dark-background-color3: #303134;
  --dark-background-color4: #424346;

  --dark-border1: #3c4043;
  --dark-border2: #5f6368;
  --dark-text-color0: white;
  --dark-text-color1: #e8eaed;
  --dark-text-color2: #bdc1c6;
  --dark-text-color2: #999da2;
}

a {
  color: #70757a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

*.darkmode {
  color: #e8eaed;
}

footer a.darkmode {
  color: #9aa0a6;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh);
}

body.darkmode {
  background-color: #202124;
}

header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px;
  align-items: center;
  font-size: 13px;
}

header.darkmode {
  color: var(--dark-text-color0);
}

footer {
  height: 100px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  flex-shrink: 0;
}

button.darkmode {
  background-color: var(--dark-background-color3);
}

button.darkmode:hover {
  border-color: var(--dark-border2);
}

footer.darkmode {
  background-color: var(--dark-background-color2);
}

/* .hidden {
  display: none;
} */

/* HEADER */
.sign-in-button {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #1a73e8;
  width: 95px;
  height: 100%;
}

.sign-in-button:hover {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #2e84f3;
  width: 95px;
  height: 100%;
}

.sign-in-button.darkmode {
  background-color: #8ab4f8;
  color: black;
}
.sign-in-button.darkmode:hover {
  background-color: #a6c5f6;
}

/* GOOGLE APPS CONTAINER */

.google-apps {
  opacity: 70%;
}

.google-apps.darkmode {
  fill: white;
  opacity: 90%;
}

.google-apps-container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 40px;
  width: 40px;
  padding: 7px;
}

.google-apps-container-button:hover {
  background-color: rgb(233, 233, 233);
}

.google-apps-container-button.darkmode:hover {
  background-color: var(--dark-background-color4);
}

.g-apps-container {
  /* display: flex; */
  display: none;
  position: absolute;
  top: 60px;
  width: 320px;
  background-color: white;
  padding: 20px 0;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  filter: drop-shadow(0 2px 3px #0000005d);
  flex-wrap: wrap;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

/* CENTER CONTAINER */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  /* background-color: rgb(226, 226, 226); */
  height: 100%;
}

/* SEARCH BOX */
.google-logo {
  margin-bottom: 30px;
}

.google-logo.darkmode {
  content: url("images/googlelogo_light.png");
}

.search-icon {
  height: 20px;
  opacity: 30%;
}

.search-icon.darkmode {
  opacity: 100%;
  fill: var(--dark-text-color2);
}

.search-box {
  height: 50px;
  width: 580px;
  border-radius: 25px;
  border: 1px solid #dadce0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 30px;
  background-color: white;
}

.search-box.darkmode {
  background-color: var(--dark-background-color1);
  border-color: var(--dark-border2);
}

.search-box:hover {
  filter: drop-shadow(0 2px 3px #00000032);
}

.search-box.darkmode:hover {
  background-color: var(--dark-background-color3);
  border-color: transparent;
}

.search-input-div {
  padding-left: 10px;
  width: 100%;
}

#query {
  float: left;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  border: transparent;
  background-color: transparent;
}
#query:focus {
  outline: none;
}

.search-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
}

.search-button {
  height: 35px;
  border: none;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 0 15px;
  border: 1px solid transparent;
}
.search-button:hover {
  border: 1px solid #e9e9e9;
}

.ofered-in {
  font-size: 14px;
  font-family: arial, sans-serif;
}

.ofered-in.darkmode {
  color: var(--dark-text-color2);
}

.ofered-in a {
  color: #1a0dab;
}
.ofered-in a.darkmode {
  color: #8ab4f8;
}

/* CREDITS */
.credits {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  color: lightcoral;
}

/* SETTINGS CONTAINER */

.settings-container {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border: 1px solid #70757a;
  transform: translateY(-50px);
  list-style-type: none;
}

.settings-container.darkmode {
  background-color: var(--dark-background-color1);
}

.settings-container li {
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.settings-container li:last-child {
  border-top: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
}

.settings-container li:last-child.darkmode {
  border-top: 1px solid var(--dark-border1);
}

.light-dark-icon {
  opacity: 50%;
}

.light-dark-icon.darkmode {
  fill: white;
}

/* FOOTER */
.location {
  color: #70757a;
}
.location.darkmode {
  color: var(--dark-text-color2);
}

.footer-top-container {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid #dadce0;
}

.footer-top-container.darkmode {
  border-bottom: 1px solid var(--dark-border1);
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer {
  display: flex;
  gap: 20px;
  padding: 0 30px;
}
